doctype html
html(lang='pt-br')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='Seu Consultor em Inovação e Novas Tecnologias - Domine a tecnologia e utilize os recursos a seu favor! Te mostrarei ferramentas para dominar o mundo digital e te darei insights para facilitar sua vida. Cursos Treinamentos Palestras Tutoriais Ensino Simples')
        meta(name='author', content='Jeff Dev - jef.lucas at hotmail.co.uk')

        title Ensino Simples Blog - Descubra se seu computador é compatível com Windows 11

        // Favicon
        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        // Bootstrap Icons
        link(href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css', rel='stylesheet')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700', rel='stylesheet')
        link(href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic', rel='stylesheet', type='text/css')

        // SimpleLightbox plugin CSS
        link(href='https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.css', rel='stylesheet')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

        //Google Analytics
        script(async, src="https://www.googletagmanager.com/gtag/js?id=G-P5YS0R29N8")
        script(src="./js/analytics.js") 

        //Google Ads
        script(async, src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7783884160359352", crossorigin="anonymous")
    
        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v5.15.3/js/all.js', crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800', rel='stylesheet', type='text/css')
    
    body#page-top

        // Navigation
        nav#blogNav.navbar.navbar-expand-lg.navbar-light.fixed-top.py-3
            .container.px-4.px-lg-5
                a.navbar-brand(href='./index.html') Ensino Simples
                button.navbar-toggler.navbar-toggler-right(type='button', data-bs-toggle='collapse', data-bs-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                    span.navbar-toggler-icon
                #navbarResponsive.collapse.navbar-collapse
                    ul.navbar-nav.ms-auto.my-2.my-lg-0
                        li.nav-item
                            a.nav-link(href='./index.html') Página Principal
                        li.nav-item
                            a.nav-link(href='./blog.html') Blog


        // Page Header
        header.masthead.posthead(style="background-image: url('assets/img/blog/post-008-head.jpg')")
            .container.position-relative.px-4.px-lg-5
                .row.gx-4.gx-lg-5.justify-content-center
                    .col-md-10.col-lg-8.col-xl-7
                        .post-heading
                            h1 Descubra se seu computador é compatível com Windows 11?
                            h2.subheading Veja como é fácil e rápido
                            span.meta
                                | Escrito por Jefferson Lucas em 06 de outubro de 2021

        // Post Content
        article.mb-4
            .container.px-4.px-lg-5
                .row.gx-4.gx-lg-5.justify-content-center
                    .col-md-10.col-lg-8.col-xl-7
                        p
                            | De tempos em tempos ao Microsoft lançanovas versões de seu Sistema Operacional,recentemente a Microsoft lançou a nova versão do Windows também conhecida como Windows 11.
                        
                        p 
                            | Porém, alguns computadores podem não ter os requisitos mínimos para a instalação dessa nova versão de sistema operacional. Agora eu te pergunto, você sabe se o seu computador conseguirá rodar o Windows 11?
                        
                        p 
                            | Veja abaixo como fazer para verificar se isso será possível em seu computador.
                        
                        p
                            | 
                            strong 1.
                            | Acesse a
                            a(href='https://www.microsoft.com/pt-br/windows/windows-11') página ofical 
                            | do Windows 11 e clique em "Baixar app de verificação de saúde do PC".

                        a(href='#!')
                            img.img-fluid(src='assets/img/blog/post-008-text1.png', alt='...')
                        span.caption.text-muted

                        p
                            strong 2.
                            | Clique em "Salvar".
                        
                        a(href='#!')
                            img.img-fluid(src='assets/img/blog/post-008-text2.png', alt='...')
                        span.caption.text-muted
                        
                        p
                            strong 3.
                            | Abra o arquivo recém baixado.
                        
                        a(href='#!')
                            img.img-fluid(src='assets/img/blog/post-008-text3.png', alt='...')
                        span.caption.text-muted
                        
                        p
                            strong 4.
                            | Marque a opção "I accept the terms in the Licence Agreement", e em seguida clique em "Install".
                        
                        a(href='#!')
                            img.img-fluid(src='assets/img/blog/post-008-text4.png', alt='...')
                        span.caption.text-muted
                        
                        p
                            strong 5.
                            | Aguarde o término da instalação e clique em "Finish".
                        
                        a(href='#!')
                            img.img-fluid(src='assets/img/blog/post-008-text5.png', alt='...')
                        span.caption.text-muted
                        
                        p
                            strong 6.
                            | Na janela que abrir, clique em "Verificar agora".
                        
                        a(href='#!')
                            img.img-fluid(src='assets/img/blog/post-008-text6.png', alt='...')
                        span.caption.text-muted
                        
                        p
                            strong 7.
                            | Nesse ponto o programa verificará se seu computador tem os requisitos necessários para uma atualização. Se seu computador for compatível com o Windows 11, aparecerá a mensagem abaixo:
                        
                        a(href='#!')
                            img.img-fluid(src='assets/img/blog/post-008-text8.png', alt='...')
                        span.caption.text-muted
                        
                        p 
                            | Caso o seu computador não suporte a instalação do Windows 11, a mensagem abaixo será exibida:
                        
                        a(href='#!')
                            img.img-fluid(src='assets/img/blog/post-008-text7.png', alt='...')
                        span.caption.text-muted

                        p
                            | Se seu computador não for compatível com a instalação do Windows 11, não se preocupe (por enquanto, rs) há
                            a(href="https://www.theverge.com/2021/6/14/22533018/microsoft-windows-10-end-support-date") informações 
                            | de que seu suporte será mantido até outubro de 2025.
                        
                        p
                            | Texto de
                            a(href='https://www.linkedin.com/in/jlrs/') Jefferson Lucas

        // Footer
        footer.bg-light.py-5
            .container.px-4.px-lg-5
                .small.text-center.text-muted
                    | Copyright &copy; 2021 - Ensino Simples  | Desenvolvido e Mantido por Jeff Dev

        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js')

        // SimpleLightbox plugin JS
        script(src='https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.js')

        // Core theme JS
        script(src='js/scriptBlog.js')
